@charset "UTF-8";

div#tv-radio{
    height: 580px;
    width: 900px;
    margin: auto;
    background: url("../_imagens/radio-tv.png") no-repeat;
}

audio#musica{
    display: block;
    position: relative;
    left: 575px ;
    top:488px ;
    width: 300px;
}

video#filme{
    display: block;
    position: relative;
    left: 87px;
    top: 70px;
    width: 440px;
}